/* Druhý řádek – tlačítka */
.custom-banner-pc .note-links {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

.custom-banner-pc .note-btn {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #0b3893;  
  background: #fff; 
  border: 2px solid #fff;
  border-radius: 6px;
  text-decoration: none;
  line-height: 1;
  transition: all .15s ease;
}
.custom-banner-pc .note-btn:hover,
.custom-banner-pc .note-btn:focus {
  background: transparent;
  color: #f58d31;
  outline: none;
}
